.results-page {
  text-align: center;
}

.results-grid {
  display: flex;
  gap: 25px;
  margin: 30px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.result-card {
  display: flex;
  flex-direction: row;
  width: 380px;
  border-radius: 14px;
  overflow: hidden;
  background: #111;
  transition: 0.3s ease;
  cursor: pointer;
}

.result-card:hover {
  transform: translateY(-6px);
}

.card-img {
  width: 140px;
  height: 160px;
  object-fit: cover;
}

.card-info {
  padding: 16px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info h3 {
  margin: 0 0 8px 0;
}

.card-info p {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 10px;
}

.platform-tag {
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.neon-blue {
  border: 2px solid #00d4ff;
  box-shadow: 0 0 15px #00d4ff66;
}

.neon-purple {
  border: 2px solid #a855f7;
  box-shadow: 0 0 15px #a855f766;
}

.neon-orange {
  border: 2px solid #ff7a18;
  box-shadow: 0 0 15px #ff7a1866;
}

.glow-text {
  color: #00d4ff;
  text-shadow: 0 0 10px #00d4ff88;
}

.neon-button {
  background: #00d4ff;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.neon-button:hover {
  box-shadow: 0 0 15px #00d4ff;
}

.step-text {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 30px;
}
